%ul.breadcrumb
  %li
    %a{:href => '/'}= I18n.t('homepage')
    %span.divider /
  %li.active= I18n.t('forgot_password')


- if not flash[:notice].nil?
  .alert
    //%button.close{"data-dismiss" => "alert", :type => "button"} &times;
    %strong= flash[:notice]
- else
  .alert
    %strong= I18n.t('invalid_request')
    &nbsp;
    &nbsp;
    &nbsp;
    %a.btn.btn-success.btn-mini{:href => forgot_password_path}= I18n.t('return')
