%ul.breadcrumb
  %li
    %a{:href => '/'} 首页
    %span.divider /
  %li.active= I18n.t('sign_in')
- if not flash[:notice].nil?
  .alert
    %button.close{"data-dismiss" => "alert", :type => "button"} &times;
    %strong= flash[:notice]
= form_tag '/auth/identity/callback', :class => 'form-horizontal', :id => 'signin'  do
  .control-group
    %label.control-label{:for => "email"}= I18n.t('email')
    .controls
      %input#email{:placeholder => "Email", :type => "text", :name => 'auth_key'}
      %span.help-inline
  .control-group
    %label.control-label{:for => "password"}= I18n.t('password')
    .controls
      %input#password{:placeholder => I18n.t('password'), :type => "password", :name => 'password'}
      %span.help-inline
  .control-group
    .controls
      %button.btn.btn-mini.btn-success{:type => "submit"}= I18n.t('sign_in')
      %span.help-inline
  .control-group
    .controls
      %span
        = "<i class='icon-info-sign'></i>".html_safe
        = (I18n.t('if_have_no_account') + "," + I18n.t("please")).html_safe
        %a.btn.btn-mini{:href => sign_up_path}= I18n.t('sign_up')
      %br/
      %br/
      %span
        = "<i class='icon-info-sign'></i>".html_safe
        = (I18n.t('if_forgot_password') + "," + I18n.t("please")).html_safe
        %a.btn.btn-mini{:href => forgot_password_path}= I18n.t('reset_password_by_mail')


:css
  label.error{
    color:red;
  }


:javascript
  $(document).ready(function() {
    $("#signin").validate({
      rules: {
        password: {
        	required: true,
        	minlength: 8
        },
        email: {
        	required: true,
        	email: true
        },
      },
      messages: {
        password: {
        	required: "请输入密码",
        	minlength: "密码必须大于8位"
        },
        email: "请输入合法的邮件地址",
      }   
    }); 
  });
