%ul.breadcrumb
  %li
    %a{:href => "/cpanel"}= I18n.t('cpanel.title')
    %span.divider /
  %li
    %a{:href => cpanel_settings_path}= I18n.t("cpanel_settings.title")
    %span.divider /
  %li.active= I18n.t('common.show')

- if not flash[:notice].nil?
  .alert
    %button.close{"data-dismiss" => "alert", :type => "button"} &times;
    %strong= flash[:notice]

%table.table.table-condensed.table-bordered.table-hover
  %tr
    %th= I18n.t('cpanel_settings.key')
    %td= @cpanel_setting.key
  %tr
    %th= I18n.t('cpanel_settings.value')
    %td= @cpanel_setting.value
  %tr
    %th= I18n.t('cpanel_settings.group')
    %td= @cpanel_setting.group
  %tr
    %th= I18n.t('cpanel_settings.desc')
    %td= @cpanel_setting.desc
  
= link_to I18n.t('common.edit'), edit_cpanel_setting_path(@cpanel_setting)
\|
= link_to I18n.t('common.back'), cpanel_settings_path
