= form_for(@category, :html => {:class => 'form-horizontal'} ) do |f|
  - if @category.errors.any?
    .alert.alert-error
      %button.close{"data-dismiss" => "alert", :type => "button"} x
      = I18n.t('errors.messages.not_saved', count: @category.errors.count)

  .control-group{:class => ('error' unless @category.errors[:name].empty?)}
    = f.label :name, I18n.t('categories.name'), :class => 'control-label', :style => 'width:80px'
    .controls{:style => 'margin-left:100px;'}
      = f.text_field :name, :autofocus => true
      %span.help-inline= @category.errors[:name].first unless @category.errors[:name].empty?
  .control-group{:class => ('error' unless @category.errors[:order].empty?)}
    = f.label :order, I18n.t('categories.order'), :class => 'control-label', :style => 'width:80px'
    .controls{:style => 'margin-left:100px;'}
      /= f.number_field :order, :autofocus => true
      = f.select(:order, (0..9).to_a.map{|x| [x, x]})
      %span.help-inline= @category.errors[:order].first unless @category.errors[:order].empty?
  .control-group{:class => ('error' unless @category.errors[:parent_id].empty?)}
    = f.label :parent_id, I18n.t('categories.parent_id'), :class => 'control-label', :style => 'width:80px'
    .controls{:style => 'margin-left:100px;'}
      /= f.number_field :parent_id, :autofocus => true
      = f.select(:parent_id, Category.all.map{|c| [c.full_name, c.id] } << [I18n.t('categories.root'), 0])
      %span.help-inline= @category.errors[:parent_id].first unless @category.errors[:parent_id].empty?


  .control-group
    .controls{:style => 'margin-left:100px;'}
      = f.submit I18n.t('categories.submit'), :class => 'btn btn-mini btn-success'
